{% extends 'layout.html' %} {% block body %}
<nav>
  <a href="/coin">Coin</a>
  <a href="/news">News</a>
  <a href="/learn">Don't know waht is this</a>
</nav>
<div class="container my-5">
  <h1 class="text-center mb-4">Crypto News</h1>

  {% if get_Global_Crypto_Data %}
  <div class="crypto-statistics mb-5">
    <h2 class="text-center">Coin Statistics</h2>
    {% for news in get_Global_Crypto_Data %}
    <table class="table table-bordered table-hover mt-4">
      <tbody>
        <tr>
          <th>Coin Count</th>
          <td>{{ news.coins_count }}</td>
        </tr>
        <tr>
          <th>Active Markets</th>
          <td>{{ news.active_markets }}</td>
        </tr>
        <tr>
          <th>Total Market Cap</th>
          <td>{{ news.total_mcap }}</td>
        </tr>
        <tr>
          <th>Total Volume</th>
          <td>{{ news.total_volume }}</td>
        </tr>
        <tr>
          <th>BTC Dominance</th>
          <td>{{ news.btc_d }}</td>
        </tr>
        <tr>
          <th>ETH Dominance</th>
          <td>{{ news.eth_d }}</td>
        </tr>
        <tr>
          <th>Market Cap Change</th>
          <td>{{ news.mcap_change }}</td>
        </tr>
        <tr>
          <th>Volume Change</th>
          <td>{{ news.volume_change }}</td>
        </tr>
        <tr>
          <th>Average Change Percent</th>
          <td>{{ news.avg_change_percent }}</td>
        </tr>
        <tr>
          <th>Volume ATH</th>
          <td>{{ news.volume_ath }}</td>
        </tr>
        <tr>
          <th>Market Cap ATH</th>
          <td>{{ news.mcap_ath }}</td>
        </tr>
      </tbody>
    </table>
    {% endfor %}
  </div>

  <div class="chart-section">
    <h3 class="text-center">Market Cap Chart</h3>
    <canvas id="marketCapChart" class="mb-5"></canvas>
  </div>
  {% else %}
  <h2 class="text-center">Sorry, no news available at the moment.</h2>
  {% endif %} {% if ttickers %}
  <div class="cryptocurrency-tickers mb-5">
    <h1 class="text-center">Cryptocurrency Tickers</h1>
    <table class="table table-bordered table-hover mt-4">
      <thead class="thead-dark">
        <tr>
          <th>Rank</th>
          <th>Symbol</th>
          <th>Name</th>
          <th>Price (USD)</th>
          <th>Price (BTC)</th>
          <th>Market Cap (USD)</th>
          <th>24h Change</th>
          <th>1h Change</th>
          <th>7d Change</th>
          <th>Circulating Supply</th>
          <th>Total Supply</th>
          <th>Max Supply</th>
        </tr>
      </thead>
      <tbody>
        {% for ticker in ttickers %}
        <tr>
          <td>{{ ticker.rank }}</td>
          <td>{{ ticker.symbol }}</td>
          <td>
            <a href="/coin/{{ ticker.id }}">{{ ticker.name }}</a>
          </td>
          <td>${{ ticker.price_usd }}</td>
          <td>{{ ticker.price_btc }} BTC</td>
          <td>${{ ticker.market_cap_usd }}</td>
          <td>{{ ticker.percent_change_24h }}%</td>
          <td>{{ ticker.percent_change_1h }}%</td>
          <td>{{ ticker.percent_change_7d }}%</td>
          <td>{{ ticker.csupply }}</td>
          <td>{{ ticker.tsupply }}</td>
          <td>{{ ticker.msupply }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="chart-section">
      <h3 class="text-center">Price Change Chart</h3>
      <canvas id="priceChangeChart" class="mb-5"></canvas>
    </div>
    <div class="chart-section">
      <h3 class="text-center">Price Change Chart</h3>
      <canvas id="percentChangeChart" class="mb-5"></canvas>
    </div>
    <div class="chart-section">
      <h3 class="text-center">Price Change Chart</h3>
      <canvas id="supplyChart" class="mb-5"></canvas>
    </div>
  </div>

  <div class="market-coins mb-5">
    <h1 class="text-center">Market Coins</h1>
    <table class="table table-bordered table-hover mt-4">
      <thead>
        <tr>
          <th>Name</th>
          <th>Base</th>
          <th>Quote</th>
          <th>Price (USD)</th>
          <th>Volume (24h)</th>
          <th>Volume (USD)</th>
          <th>24h Time</th>
        </tr>
      </thead>
      <tbody>
        {% for mc in market_coins %}
        <tr>
          <td>{{ mc.name }}</td>
          <td>{{ mc.base }}</td>
          <td>{{ mc.quote }}</td>
          <td>${{ mc.price_usd }}</td>
          <td>{{ mc.volume }}</td>
          <td>${{ mc.volume_usd }}</td>
          <td>{{ mc.time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p class="text-center">No data available</p>
  {% endif %}
</div>
{% endblock %}
